

.main-container{
width: var(--mainSize);
height: var(--mainSize);
background-color: whitesmoke;
padding: 10px;
display: flex;
flex-direction: row;
justify-content: center;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
  color:whitesmoke;
}
.article-card{
  width: 150px;
  margin:10px;
  height: 200px;
  padding: 10px;
  border: 1px solid black;
  animation: fadeIn 2s ease-in;
}

.flex-column{
display: flex;
flex-direction: column;
}
form.flex-column > *{
  padding: 10px;
  }

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}